.main-header{
	height: 100px;
	background: url(../images/hero.jpg) no-repeat center center;
}


.main_navigation{
	@include span(5 last);

	li{
		float: left;
	}

	a{
		display: block;
		color: #fff;
		text-decoration: none;
		padding: 0 10px;
	}
}